/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.blok {
    padding: 20px;
}

.horni { background-color:#f1c40f ;}
.prvni { background-color: #2ecc71;}
.druhy { background-color: #e74c3c;}
.treti { background-color: #8e44ad;}

/* ---------------------------------------------------- */

.kontejner {
    display: flex;
    flex-wrap: wrap;
}

.horni {
    width: 100%;
}

.prvni, .druhy, .treti {
    flex-basis: calc(100%/3)
}

.blok {
    flex-shrink: 1;
}

/* .blok:not(:nth-child(1)) {
    flex: 1
} */